@page
@model FimsCPK.Areas.Identity.Pages.Account.RegisterModel

<div class="col-xs-1 " align="center">
    <div class="text-start text-black" style="max-width:500px">
        <section>
            <form id="account" method="post">
                <h2 class="text-center mb-5">Register a new user</h2>
                <ht />
                <h2 class="text-center mb-5" style="color:red"> Not Supported</h2>

            </form>
        </section>
    </div>
</div>

@{
}
