@page "/history"
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<h2>2024.7.10.수</h2>
1) Cpk를 LSL/USL 기준으로 계산
<br />
2) Graph Y축 Min/Max 를 (LSL-a) ~ (UCL+a)로 함.  (a=USL-LSL의 10%) 
<br />
3) Graph에 USL/LSL(red), UCL/LCL(cyan), 평균(green), 6*표준편차 범위 표시
<br />
