@page "/history"
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<h2>2024.7.17.수</h2>
<h4>1) Cp/Cpk 값은 LSL/USL을 기준으로 계산</h4>
<h4>2) 정규분포는 "Cpk체크-Cpk통계"에서 해당 채널을 더블클릭하면 popup으로 표시됨</h4>
<h4>3) 정규분포/XR그래프/일반그래프에 SL, CL, 3Sigma, 평균값 표시</h4>
<h4>4) Cpk 값은 Good/NoGood을 색상으로 표시 (1.33기준)</h4>
<h4>5) Cpk List 엑셀로 출력 가능</h4>
<h4>6) LCL/UCL관리에서 TestNo에 대한 검사항목명 추가</h4>

<br />
<br />

<h2>2024.7.10.수</h2>
1) Cpk를 LSL/USL 기준으로 계산
<br />
2) Graph Y축 Min/Max 를 (LSL-a) ~ (UCL+a)로 함.  (a=USL-LSL의 10%)
<br />
3) Graph에 USL/LSL(red), UCL/LCL(cyan), 평균(green), 6*표준편차 범위 표시
<br />
