@page "/home"

@using FimsCPK.Models;
@using Telerik.DataSource
@using Telerik.DataSource.Extensions
@using Telerik.FontIcons;

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="card-header text-lg-center pt-2 pb-2 fw-bold px-9"> 검사한 모델 통계 </div>
        @*
        <h4>----------------------------------------------------------------------------------------------------------------------------------------</h4>
        <br/>
        <h4>0. Home   : FIMS 통계 (모델리스트, 검사수)</h4>
        <br />
        <h4>1. 검사리스트 : 검사결과 일람표</h4>
        <br />
        <h4>2. CPK 관리: CPK 관리 화면 : CTQ항목, UCL, LCL, Graph, Cpk 값 (Model명, Test항목, 기간) </h4>
        <br />
        <h4>3. 장비 정보: </h4>
        <br />
        <h4>4. Admin : Register Users</h4>
        <br />
        <h4>----------------------------------------------------------------------------------------------------------------------------------------</h4>
        *@
        <TelerikTileLayout Columns="6"
                           ColumnWidth="18%"
                           RowHeight="200px"
                           Reorderable="true"
                           Resizable="true">
            <TileLayoutItems>
                <TileLayoutItem HeaderText="모델별 통계" RowSpan="2" ColSpan="2">
                    <Content>
                        <h4>전체 검사 모델 수 = @gTotalNumModel,   전체 검사 수=@gTotalNumInspection</h4>
                        <TelerikGrid Class="total"
                                     Data="@gListModels"
                                     Pageable="false"
                                     Groupable="false"
                                     Sortable="true"
                                     Resizable="true"
                                     Navigable="true"
                                     Height="90%">
                            <GridColumns>
                                <GridColumn Field=@nameof(ModelCount.model) Width="60px" Title="모델" Sortable=true />
                                <GridColumn Field=@nameof(ModelCount.count) Width="30px" Title="검사수량" Sortable=true TextAlign="ColumnTextAlign.Right" />
                            </GridColumns>
                        </TelerikGrid>
                    </Content>
                </TileLayoutItem>

                <TileLayoutItem HeaderText="모델별 통계" RowSpan="2" ColSpan="4">
                    <Content>
                        <TelerikChart Height="90%">
                            <ChartTooltip Visible="true" Shared="true"></ChartTooltip>
                            <ChartLegend Visible="true"></ChartLegend>
                            <ChartSeriesItems>
                                <ChartSeries Type="ChartSeriesType.Column"
                                             Name="검사 수량"
                                             Data="@gListModels"
                                             Field="count">
                                </ChartSeries>
                            </ChartSeriesItems>

                            <ChartValueAxes>
                                <ChartValueAxis>
                                    <ChartValueAxisTitle Text="검사 모델수" />
                                    <ChartValueAxisMajorGridLines Visible="true" />
                                    <ChartValueAxisPlotBands>
                                        <ChartValueAxisPlotBand From="100" To="200" Color="#00cc00" Opacity="0.3"></ChartValueAxisPlotBand>
                                    </ChartValueAxisPlotBands>
                                </ChartValueAxis>
                            </ChartValueAxes>

                            <ChartCategoryAxes>
                                <ChartCategoryAxis Categories="@Categories" Visible="false">
                                    <ChartCategoryAxisPlotBands>
                                        <ChartCategoryAxisPlotBand From="10" To="50" Color="#440099" Opacity="0.3"></ChartCategoryAxisPlotBand>
                                    </ChartCategoryAxisPlotBands>
                                </ChartCategoryAxis>
                            </ChartCategoryAxes>
                        </TelerikChart>

                    </Content>
                </TileLayoutItem>
            </TileLayoutItems>
        </TelerikTileLayout>
    </Authorized>
    <NotAuthorized>
        <h2>    로그인을 먼저 하세요</h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<Tsheet> gSheetList { get; set; }
    public class ModelCount
    {
        public string model { get; set; }
        public int count { get; set; }
    }
    List<ModelCount> gListModels;
    public int gTotalNumModel = 0;
    public int gTotalNumInspection = 0;
    public string[] Categories = { "1", "2" };

    protected override async Task OnInitializedAsync()
    {
        Retrieve_Models();
    }

    private void Retrieve_Models()
    {
        using (var db = new FimsDbContext())
        {
            gSheetList = db.Tsheets.ToList();

            var models = from sheet in db.Tsheets
                         orderby sheet.ProductModel
                         group sheet by sheet.ProductModel into grp
                         select new ModelCount() { model = grp.Key, count = grp.Count() };
            gListModels = models.ToList();
            gListModels = gListModels.OrderByDescending(n => n.count).ToList();
        }
        gTotalNumModel = gListModels.Count;
        Categories = new string[gTotalNumModel];
        int i = 0;
        gTotalNumInspection = 0;
        foreach (var item in gListModels)
        {
            Categories[i++] = item.model;
            gTotalNumInspection += item.count;
        }
    }
}