@page "/home"

@using FimsCPK.Models;
@using Telerik.DataSource
@using Telerik.DataSource.Extensions
@using Telerik.FontIcons;

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="card-header text-lg-center pt-2 pb-2 fw-bold px-9"> 검사한 모델 통계 </div>
        @*
        <h4>----------------------------------------------------------------------------------------------------------------------------------------</h4>
        <br/>
        <h4>0. Home   : FIMS 통계 (모델리스트, 검사수)</h4>
        <br />
        <h4>1. 검사리스트 : 검사결과 일람표</h4>
        <br />
        <h4>2. CPK 관리: CPK 관리 화면 : CTQ항목, UCL, LCL, Graph, Cpk 값 (Model명, Test항목, 기간) </h4>
        <br />
        <h4>3. 장비 정보: </h4>
        <br />
        <h4>4. Admin : Register Users</h4>
        <br />
        <h4>----------------------------------------------------------------------------------------------------------------------------------------</h4>
        *@
        <TelerikTileLayout Columns="6"
                           ColumnWidth="18%"
                           RowHeight="200px"
                           Reorderable="true"
                           Resizable="true">
            <TileLayoutItems>
                <TileLayoutItem HeaderText="모델별 통계" RowSpan="2" ColSpan="2">
                    <Content>
                        <h4>전체 검사 모델 수 = @gTotalNumModel,   전체 검사 수=@gTotalNumInspection</h4>
                        <TelerikGrid Class="total"
                                     Data="@gListModels"
                                     Pageable="false"
                                     Groupable="false"
                                     Sortable="true"
                                     Resizable="true"
                                     Navigable="true"
                                     Height="90%">
                            <GridColumns>
                                <GridColumn Field=@nameof(ModelCount.model) Width="60px" Title="모델" Sortable=true />
                                <GridColumn Field=@nameof(ModelCount.count) Width="30px" Title="검사수량" Sortable=true TextAlign="ColumnTextAlign.Right" />
                            </GridColumns>
                        </TelerikGrid>
                    </Content>
                </TileLayoutItem>

                <TileLayoutItem HeaderText="변경내용: v0.9.1/0.9.2" RowSpan="2" ColSpan="4">
                    <Content>
                        <h4>1) Cp/Cpk 값은 LSL/USL을 기준으로 계산</h4>
                        <h4>2) 정규분포는 "Cpk체크-Cpk통계"에서 해당 채널을 더블클릭하면 popup으로 표시됨</h4>
                        <h4>3) 정규분포/XR그래프/일반그래프에 SL, CL, 3Sigma, 평균값 표시</h4>
                        <h4>4) Cpk 값은 Good/NoGood을 색상으로 표시 (1.33기준)</h4>
                        <h4>5) Cpk List 엑셀로 출력 가능</h4>
                        <h4>6) LCL/UCL관리에서 TestNo에 대한 검사항목명 추가</h4>
                        <h4> (<a href="#"></a></h4>
                        <h4>7) Model 추가</h4>
                        <h4>8) 30개 이상 검사한 항목만 Cpk 계산 가능 </h4>
                        <h4>9) 7월30일자 SpecSheet 적용</h4>
                    </Content>
                </TileLayoutItem>
 
                <TileLayoutItem HeaderText="모델별 통계 (검사수량 10개 이상)" RowSpan="2" ColSpan="6">
                    <Content>
                        <TelerikChart Height="85%">
                            <ChartTooltip Visible="true" Shared="true"></ChartTooltip>
                            <ChartLegend Visible="true"></ChartLegend>
                            <ChartSeriesItems>
                                <ChartSeries Type="ChartSeriesType.Column"
                                             Name="검사 수량"
                                             Data="@gListModels30"
                                             CategoryField="model"
                                             Field="count">
                                    <ChartSeriesLabels Template="[#=value#]" Visible="true"></ChartSeriesLabels>
                                </ChartSeries>
                            </ChartSeriesItems>

                            <ChartValueAxes>
                                <ChartValueAxis>
                                    <ChartValueAxisTitle Text="검사 모델수" />
                                    <ChartValueAxisMajorGridLines Visible="true" />
                                    <ChartValueAxisPlotBands>
                                        <ChartValueAxisPlotBand From="29" To="35" Color="#00cc00" Opacity="0.3"></ChartValueAxisPlotBand>
                                    </ChartValueAxisPlotBands>
                                </ChartValueAxis>
                            </ChartValueAxes>

                            <ChartCategoryAxes>
                                <ChartCategoryAxis Categories="@Categories" Visible="true">
                                    @*
                                    <ChartCategoryAxisPlotBands>
                                        <ChartCategoryAxisPlotBand From="30" To="31" Color="#440099" Opacity="0.0"></ChartCategoryAxisPlotBand>
                                    </ChartCategoryAxisPlotBands>
                                    *@
                                    <ChartCategoryAxisLabels Step="1">
                                        <ChartCategoryAxisLabelsRotation Angle="-30"></ChartCategoryAxisLabelsRotation>
                                        <ChartCategoryAxisLabelsBorder Width="1" Color="#FFFFFF" DashType="DashType.Solid"></ChartCategoryAxisLabelsBorder>
                                    </ChartCategoryAxisLabels>
                                </ChartCategoryAxis>
                            </ChartCategoryAxes>
                        </TelerikChart>
                    </Content>
                </TileLayoutItem>


            </TileLayoutItems>
        </TelerikTileLayout>
    </Authorized>
    <NotAuthorized>
        <h2>    로그인을 먼저 하세요</h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<Tsheet> gSheetList { get; set; }
    public class ModelCount
    {
        public string model { get; set; }
        public int count { get; set; }
    }
    List<ModelCount> gListModels;
    List<ModelCount> gListModels30;
    public int gTotalNumModel = 0;
    public int gTotalNumInspection = 0;
    public string[] Categories = { "1", "2" };

    protected override async Task OnInitializedAsync()
    {
        Retrieve_Models();
    }

    private void Retrieve_Models()
    {
        using (var db = new FimsDbContext())
        {
            gSheetList = db.Tsheets.ToList();

            var models = from sheet in db.Tsheets
                         orderby sheet.ProductModel
                         group sheet by sheet.ProductModel into grp
                         select new ModelCount() { model = grp.Key, count = grp.Count() };
            gListModels = models.ToList();
            gListModels = gListModels.OrderByDescending(n => n.count).ToList();
        }
        gListModels30 = gListModels.Where(n => n.count >= 10).ToList();

        gTotalNumModel = gListModels.Count;
        Categories = new string[gTotalNumModel];
        int i = 0;
        gTotalNumInspection = 0;
        foreach (var item in gListModels)
        {
            Categories[i++] = item.model;
            gTotalNumInspection += item.count;
        }
    }
}